:root {
  --background: #86b3d1;
  --accent1: #aaa0a0;
  --accent2: #844e36;
  --accent3: #8e8268;
  --accent4: #474853;
  --text: #ffffff;
}

/*specific to the food box*/

#searchButton {
  background-color: var(--accent1);
  border: none;
  color: var(--accent4);
  font-weight: bolder;
  padding: 0 20px 0 20px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: content-box;
} 

#nextButton {
  background-color: var(--accent1);
  border: none;
  color: var(--accent4);
  font-weight: bolder;
  padding: 0 20px 0 20px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: content-box;
} 

.foodLabel {
  color: var(--text);
  font-size:large;
}

#foodTitle {
  color: var(--text);
  font-size:large;
}

#foodSearch {
  color: var(--text);
  font-weight: bolder;
  margin: 0 0 20px 0;
}

.recipeBox1 {
  box-shadow: 2px 2px 2px 2px #844e36;
}

.recipeBox1 label {
  color: var(--text);
}

#foodPic {
  background-color: var(--background);

}

#instructions {
  margin: 0px;
  padding: 20px;
}


