:root {
  --background: #86b3d1;
  --accent1: #aaa0a0;
  --accent2: #844e36;
  --accent3: #8e8268;
  --accent4: #474853;
  --text: #ffffff;
}

.min-100-vh {
  background-color: var(--background);
}

.get-breweries {
    margin: 0px;
    background-color: var(--background);
    padding: 20px;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #844e36;
  }
  
  
  #fetch-button {
    background-color: var(--accent1);
    border: none;
    color: var(--accent4);
    font-weight: bolder;
    padding: 0 20px 0 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-sizing: content-box;
  }

   .card {
    background-color: var(--background);

  }

  .brewLabel {
    color: var(--text);
    font-size:large;
  }

  .card-header-title {
    color: var(--text);
    font-size:large;
  }

  #savedLocations {
    /*padding: 20px 20px 0 20px;*/
    margin: 20px 20px 0 20px;
  }

  #citySearch{
    color: var(--accent4);
    font-weight: bolder;
    margin: 0 0 20px 0;
  }

  .savedBtnLocation {
    background-color: var(--accent1);
    border: none;
    color: var(--accent4);
    font-weight: bolder;
    padding: 0 20px 0 20px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: content-box; 
  }

  .card-content{
    color: var(--text);
    padding: 5px 0 0 0;

  }

    .savedLocationButton {
      margin: 20px 0 0 0;
      padding: 20px 0 0 20px;
    }


  
 