:root {
  --background: #86b3d1;
  --accent1: #aaa0a0;
  --accent2: #844e36;
  --accent3: #8e8268;
  --accent4: #474853;
  --text: #ffffff;
}

/*specific to the food box*/

#searchButton {
  background-color: var(--btn);
  color: var(--text);
  font-weight: bolder;
  margin: 0 0 20px 0;
} 

#nextButton {
  background-color: var(--btn);
  color: var(--text);
  font-weight: bolder;
  margin: 0 0 20px 0;
} 

#foodLabel {
  color: (--text2);
  font-size:large;
}

#foodTitle {
  color: (--text2);
  font-size:large;
}

#foodSearch {
  color: var(--text);
  font-weight: bolder;
  margin: 0 0 20px 0;
}

.recipeBox1 {
  width: 50%
  background-color: var(--background);
  box-shadow: 2px 2px 2px 2px var(--accent2);
  flex-direction: row;
}

.recipeBox1 label {
  color: var(--text);
}

#foodPic {
  background-color: var(--background);
  box-shadow: 2px 2px 2px 2px var(--accent2);
}

#instructions {
  background-color: #fff;
  margin: 20px;
  padding: 50px;
}


